@font-face {
  font-family: 'MINISerif';
  src: url('https://github.com/MKAKarjweel/BMWfonts/raw/refs/heads/main/MINISerif-Headline.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MINISerif';
  src: url('https://github.com/MKAKarjweel/BMWfonts/raw/refs/heads/main/MINISerif-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
