@font-face {
  font-family: 'MINISerif-Medium';
  src: url('https://raw.githubusercontent.com/MKAKarjweel/BMWfonts/main/MINISerif-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MINISerif-Headline';
  src: url('https://raw.githubusercontent.com/MKAKarjweel/BMWfonts/main/MINISerif-Headline.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
