
@font-face {
  font-family: 'MINISerif-Regular';
  src: url('https://raw.githubusercontent.com/MKAKarjweel/BMWfonts/main/MINISerif-Regular.woff') format('woff2');
  font-weight: 300;
  font-style: normal;
}
